* {
	margin:0;
	padding:0;
}

body {
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1em;
	line-height: 1.4em;
	margin:20px 0 10px;
}

#wrap {
	width:960px;
	margin:0 auto;
}

#main {
	background:#FFF;
	color:#666;
	margin:25px 0 15px;
}

form {
	overflow: hidden;
}

#leftside {
	color:#666;
	background:#FFF;
}

#output {
	clear:both;
	background: #f9f9f9;
	padding: 20px;
	border: 2px dotted #ccc;
}

a {
	color:#0066B3;
	text-decoration:none;
}

#leftside textarea {
	clear: both;
	margin-top:5px;
	margin-bottom:15px;
	vertical-align:top;
	border:1px solid #bbb;
	height:300px;
	font-size: .75em;
	line-height: 1.4em;
	padding: 10px;
	width: calc( 100% - 22px );
	font-family: Consolas, Monaco, monospace;
	direction: ltr;
	unicode-bidi: embed;
}

.has-results #leftside textarea {
	height:50px;
}

.has-results #leftside form:focus textarea,
.has-results #leftside textarea:focus {
	height:300px;
}

#main input,
#main button {
	margin:0;
	padding:3px;
}

p {
	margin-top:5px;
}

.f-label {
	vertical-align:top;
	display:block;
	width:100px;
}

.newline {
	margin-bottom:15px;
	clear:left;
}

.center {
	text-align: center;
}

.optionsline span {
	clear:left;
	vertical-align:top;
}

.types label {
	margin-right: 11px;
	margin-left: 1px;
}

pre, xmp {
	color:#111;
	font-family: Consolas, Monaco, monospace;
	font-size: .8em;
}

#submit {
	position:relative;
	z-index:1000;
}

.addthis_toolbox {
	position:relative;
	top:4px;
}

.buttonline,.clear-left {
	clear:left;
}

@media (max-width: 960px){
	#logo-img {
		width: 60%;
		height: auto;
	}
	.f-label {
		margin: 0;
		margin-bottom: 1%;
		margin-left: 1%;
		padding: 0;
	}
	#wrap {
		width: 100%;
	}
	#leftside textarea {
		width: 98%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.types{
		line-height: 2em;
	}
	.option {
		white-space: nowrap;
	}
	.buttonline #submit{
		margin-left: 1%;
		text-align: left;
	}
	p {
		margin-left: 1%;
		margin-right: 1%;
	}
	pre, xmp {
		margin-left: 1%;
		margin-right: 1%;
		width: 98%;
		white-space: pre-wrap;
	}

	@media (max-width: 500px){
		#logo-img {
			width: 95%;
			height: auto;
		}
	}
}
